.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.heading {
    text-align: center;
    color: #14a716;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.heading_1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.margin{
    padding: 0;
    margin: 0;

}
.footer
{
    padding: 10px 20px 5px;
    background: linear-gradient(orange,rgb(52, 129, 5));
    color: #fff;
}
.footer-logo
{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer h4
{
    text-align: left;
    margin-top: 95px;
    margin-bottom: 25px;
}
.footer p
{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
.footer .row .feature
{
    padding-right: 20px;
    font-size: 15px;
}
.footer hr
{
    margin-top: 10px;
    background: #fff;
}
.fa-heart
{
    margin: 0 5px;
    color: #eb1809;
}
.footer .copyright
{
    text-align: center;
}
